In [51]:
import pandas as pd

In [52]:
# Series.str.split(pat=None, n=-1, expand=False)

In [53]:
#原始迁入数据
address = pd.read_excel('/Users/jackchen/Desktop/迁徙地图（市）.xlsx', index_col=False)

In [54]:
address

               名称      比例
0          广州市广东省  0.0233
1          东莞市广东省  0.0224
2          深圳市广东省  0.0210
3          惠州市广东省  0.0207
4          佛山市广东省  0.0182
..            ...     ...
95         沈阳市辽宁省  0.0035
96         烟台市山东省  0.0034
97         聊城市山东省  0.0034
98         宿迁市江苏省  0.0034
99  黔南布依族苗族自治州贵州省  0.0034

[100 rows x 2 columns]

In [55]:
#方法一 split分割`市`

In [56]:
address1 = address['名称'].str.split('市', expand=True)
address1

                0     1     2
0              广州   广东省  None
1              东莞   广东省  None
2              深圳   广东省  None
3              惠州   广东省  None
4              佛山   广东省  None
..            ...   ...   ...
95             沈阳   辽宁省  None
96             烟台   山东省  None
97             聊城   山东省  None
98             宿迁   江苏省  None
99  黔南布依族苗族自治州贵州省  None  None

[100 rows x 3 columns]

In [57]:
address1.loc[:, 2] = address.iloc[:, 1]

In [58]:
address1

                0     1       2
0              广州   广东省  0.0233
1              东莞   广东省  0.0224
2              深圳   广东省  0.0210
3              惠州   广东省  0.0207
4              佛山   广东省  0.0182
..            ...   ...     ...
95             沈阳   辽宁省  0.0035
96             烟台   山东省  0.0034
97             聊城   山东省  0.0034
98             宿迁   江苏省  0.0034
99  黔南布依族苗族自治州贵州省  None  0.0034

[100 rows x 3 columns]

In [59]:
#合并表格
address2 = address.join(address['名称'].str.split('市', expand=True))
address2

               名称      比例              0     1     2
0          广州市广东省  0.0233             广州   广东省  None
1          东莞市广东省  0.0224             东莞   广东省  None
2          深圳市广东省  0.0210             深圳   广东省  None
3          惠州市广东省  0.0207             惠州   广东省  None
4          佛山市广东省  0.0182             佛山   广东省  None
..            ...     ...            ...   ...   ...
95         沈阳市辽宁省  0.0035             沈阳   辽宁省  None
96         烟台市山东省  0.0034             烟台   山东省  None
97         聊城市山东省  0.0034             聊城   山东省  None
98         宿迁市江苏省  0.0034             宿迁   江苏省  None
99  黔南布依族苗族自治州贵州省  0.0034  黔南布依族苗族自治州贵州省  None  None

[100 rows x 5 columns]

In [60]:
#方法二 使用匿名函数lambda来将City列拆成两列。

In [61]:
address['城市'] = address['名称'].map(lambda x:x. split('市')[0])
address['省份'] = address['名称'].map(lambda x:x. split('市')[-1])

In [62]:
address

               名称      比例             城市             省份
0          广州市广东省  0.0233             广州            广东省
1          东莞市广东省  0.0224             东莞            广东省
2          深圳市广东省  0.0210             深圳            广东省
3          惠州市广东省  0.0207             惠州            广东省
4          佛山市广东省  0.0182             佛山            广东省
..            ...     ...            ...            ...
95         沈阳市辽宁省  0.0035             沈阳            辽宁省
96         烟台市山东省  0.0034             烟台            山东省
97         聊城市山东省  0.0034             聊城            山东省
98         宿迁市江苏省  0.0034             宿迁            江苏省
99  黔南布依族苗族自治州贵州省  0.0034  黔南布依族苗族自治州贵州省  黔南布依族苗族自治州贵州省

[100 rows x 4 columns]

In [63]:
df1 = address[['省份', '城市', '比例']]

In [64]:
df1

               省份             城市      比例
0             广东省             广州  0.0233
1             广东省             东莞  0.0224
2             广东省             深圳  0.0210
3             广东省             惠州  0.0207
4             广东省             佛山  0.0182
..            ...            ...     ...
95            辽宁省             沈阳  0.0035
96            山东省             烟台  0.0034
97            山东省             聊城  0.0034
98            江苏省             宿迁  0.0034
99  黔南布依族苗族自治州贵州省  黔南布依族苗族自治州贵州省  0.0034

[100 rows x 3 columns]

In [65]:
#迁出数据 操作同上
address = pd.read_excel('/Users/jackchen/Desktop/迁徙地图（市）.xlsx', sheet_name = '迁出（市）', index_col=False)

In [66]:
address['城市'] = address['名称'].map(lambda x:x. split('市')[0])
address['省份'] = address['名称'].map(lambda x:x. split('市')[-1])
address

        名称      比例  城市   省份
0   广州市广东省  0.0494  广州  广东省
1   深圳市广东省  0.0441  深圳  广东省
2   成都市四川省  0.0383  成都  四川省
3   东莞市广东省  0.0357  东莞  广东省
4   长沙市湖南省  0.0340  长沙  湖南省
..     ...     ...  ..  ...
95  荆州市湖北省  0.0022  荆州  湖北省
96  衡阳市湖南省  0.0021  衡阳  湖南省
97  廊坊市河北省  0.0021  廊坊  河北省
98  赣州市江西省  0.0021  赣州  江西省
99  宿州市安徽省  0.0020  宿州  安徽省

[100 rows x 4 columns]

In [26]:
df2 = address[['省份', '城市', '比例']]

In [33]:
# 导出至同一Excel中的不同sheet，并命名。
writer = pd.ExcelWriter('6.3人口迁徙数据（市）.xlsx')
df1.to_excel(writer, sheet_name='6.3迁入（市）')
df2.to_excel(writer, sheet_name='6.3迁出（市）')
writer.save()
writer.close()

/Users/jackchen/opt/anaconda3/lib/python3.9/site-packages/xlsxwriter/workbook.py:338: UserWarning: Calling close() on already closed file.
  warn("Calling close() on already closed file.")

In [31]:
#方法三：读取txt文件，按行转 array

In [70]:
pd.read_table('6.3迁入.txt')

             名称  比例
0             1 NaN
1           广州市 NaN
2           广东省 NaN
3         2.33% NaN
4             2 NaN
..          ...  ..
395       0.34% NaN
396         100 NaN
397  黔南布依族苗族自治州 NaN
398         贵州省 NaN
399       0.34% NaN

[400 rows x 2 columns]